    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @keyframes slideAndFade {
      0% {
        transform: translateX(0);
        opacity: 0;
      }
      50% {
        transform: translateX(50px);
        opacity: 0.5;
      }
      100% {
        transform: translateX(100px);
        opacity: 1;
      }
    }


    .fadein {
      animation-name: fadeIn;
      animation-duration: 2s;
    }

    .fadein2 {
      animation-name: fadeIn;
      animation-duration: 5s;
    }