/* PALETA */

* {
  --color1: white;
  --color2: #787878;
  --color3: #4e5c5a;
  --color4: #a1d1cb;
  --color5: #ee7a54;
  --color6: #7a4654;
  --color7: #e1cfab;
  --color8: #7582b6;
  --color9: #a19bb5;
  --color10: #a86763;
  --color11: #bf9098;
  --color12: #3e618b;
  --color13: #9dc3e7;
  --color14: #9dc3e7;
  --color15: #96a2ae;
  --color16: #d3d3db;
  --color17: #c99e2d;
  --color12: #aa9173;
  --color12: #cfaf80;
  --color14: #f4ead9;
  --color15: #6c734a;
  --color16: #889770;
}

/* PALETA EXTENDIDA */

